.MuiDataGrid-columnHeaders {
    background-color: #ecf1f1;
}

.manage-icon {
    font-size: 1.5em;
}
.css-o4b71y-MuiAccordionSummary-content{
    justify-content:space-between ;
    align-items: center;
    position: relative;
    display: flex;
}
