.dataGrid{
 
    height: 90%; 
    width: 70%;
    margin: auto;
    margin-top: 2%;
 }
 .MuiDataGrid-columnHeaders{
     /* background: linear-gradient(to right, #454b4e, #697172, #b9bebe)!important; */
     /* background: linear-gradient(to right, #041E25, #07404A, #74B5BD)!important; */
     background-color: #ecf1f1;
 
 }
 .MuiDataGrid-toolbarContainer{
    
 }
 