.dataGrid{
 
    /* height: 85%;  */
    width: 100%;
    margin: auto;
    margin-top: 2%;
 }
 .MuiDataGrid-columnHeaders{
     background-color: #ecf1f1;
 
 }
 
 .edit-icon {
    font-size: 1em;
  }
    .clear{
        font-size: 1.5em;

    }
    .button-container {
        position: relative;
        text-align: right;
      }
      
      .add-trainer-button {
        position: absolute;
        right: 0;
      }
      .dialog-box {
        box-shadow: white;
      }
      
      