# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
#.env.local
#.env.development.local
#.env.test.local
#.env.production.local

# yarn cache
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

 # testing
 /coverage
 /test-reports

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# production
/build
/dist

#VS code
settings.json

storybook-static

#Webstorm
/.run/
