body {
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 10%;
}
.css-ii70sc-MuiTypography-root {
margin-left: 18.75rem !important;
}
.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root{
    margin-left: 172%;
    margin-top: 29%;
    width: 15.625rem;
}

.css-wjh20t-MuiPagination-ul{
    background-color: #EDF3F6;
    border-radius: 0.9375rem;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
    margin-left: 9.875rem !important; 
    margin-top: 4.375rem !important;
    width: 16.75rem;
}
.css-19qjufr-MuiStack-root>:not(style)+:not(style) {
    margin-left: -2.5rem !important;
    margin-top: 5.375rem !important;
}

.page{
    justify-content:center;
    align-items: center;
    position: relative;
    padding-bottom: 0.3125rem;
    margin-top: 1.25rem;
    margin-left: 8.4375rem;
}

.add{
    margin-left: 34rem ;
}