.bar{
    background-color: #30ADD1 !important;

}

.bar .tbar .pside {
    justify-content:flex-end ;
    margin-left:auto ;
}

 .side{
    background-color: #EDF3F6 ;
    position: relative ;
    height: 100% ;
    top : 0% ;
} 
.mail{
    color: #62686B;
}
.badge{
    color: black ;
}
.ptuk{
    width: 48% !important;
}
